<form action="/add_riddle" method="post">
  <label for="new_riddle">Enter a riddle: </label>
  <input type="text" name="new_riddle" required>
  <label for="new_answer">Enter answers: </label>
  <input type="text" name="new_answer" required>
  <input type="text" name="new_answer2">
  <input type="text" name="new_answer3">
  <button type="submit" name="button">Submit!</button>
</form>
